<!-- <h1>Welcome to {{ hotelName }}</h1> -->
<!-- <hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header> -->
<!-- Using Async Pipe to unwrap the rooms$ object and display the data 
Async Pipe also takes care of unsubscribing to your stream so you dont have to write
that ngOnDestroy logic-->

{{rooms$ | async | json}}
<div [hidden]="hideRooms">
  Number of rooms:
  <!-- [innerText] box syntax -->
  <div [ngStyle]="{'background-color' : rooms.availableRooms ? 'green': 'red'}"
    [innerText]="numberOfRooms">
    </div>
</div>
<!-- Same as: -->
<!-- document.getElementById('numberOfRooms').innerText = numberOfRooms; -->

<!-- OPTIONAL CHAINING, NULLAGE COALLESCING show # of available rooms if they exist or show msg 'No rooms'-->
<!-- {{ rooms.availableRooms ?? 'No Rooms' }} -->
<!-- JSON PIPE -->
<!-- {{roomList | json}} -->
<div *ngIf="selectedRoom">
  {{selectedRoom | json}}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="hideRooms">
  <!-- We are removing/destroying RoomsListComponent everytime we toggle hideRooms-->
 <hinv-rooms-list [rooms]="roomsList" [title]="title"
 (selectedRoom) ="selectRoom($event)"></hinv-rooms-list>
</div>

<!-- EVENT BINDING -->
<!-- (click) banana syntax -->
<button (click)="toggle()">Toggle</button>
<button (click)="editRoom()">Edit Room</button>
<button (click)="deleteRoom()">Delete Room</button>

<h1>
  {{totalBytes}} loaded
</h1>

