<h1>Welcome to {{ hotelName }}</h1>
<div [hidden]="hideRooms">
  Number of rooms:
  <!-- [innerText] box syntax -->
  <div [ngStyle]="{'background-color' : rooms.availableRooms ? 'green': 'red'}"
    [innerText]="rooms.availableRooms">
    </div>
</div>
<!-- Same as: -->
<!-- document.getElementById('numberOfRooms').innerText = numberOfRooms; -->

<!-- OPTIONAL CHAINING, NULLAGE COALLESCING show # of available rooms if they exist or show msg 'No rooms'-->
<!-- {{ rooms.availableRooms ?? 'No Rooms' }} -->
<!-- JSON PIPE -->
<!-- {{roomList | json}} -->
<div *ngIf="selectedRoom">
  {{selectedRoom | json}}
</div>

<div *ngIf="rooms.availableRooms > 0">
 <hinv-rooms-list [rooms]="roomsList"
 (selectedRoom) ="selectRoom($event)"></hinv-rooms-list>
</div>

<!-- EVENT BINDING -->
<!-- (click) banana syntax -->
<button (click)="toggle()">Toggle</button>
