<h1>Welcome to {{ hotelName }}</h1>
<div [hidden]="hideRooms">
  Number of rooms:
  <!-- [innerText] box syntax -->
  <div [innerText]="numberOfRooms"></div>
</div>
<!-- Same as: -->
<!-- document.getElementById('numberOfRooms').innerText = numberOfRooms; -->

<!-- OPTIONAL CHAINING, NULLAGE COALLESCING show # of available rooms if they exist or show msg 'No rooms'-->
{{ rooms.availableRooms ?? "No rooms" }}

<div *ngIf="rooms.availableRooms > 0">
  Rooms List
  <table>
    <tr>
      <th>Index</th>
      <th>Even/Odd</th>
      <th>Room Number</th>
      <th>Type</th>
      <th>Price</th>
      <th>Amenities</th>
      <th>Check-in Time</th>
      <th>Check-out Time</th>
    </tr>
    <!-- STRUCTURAL directives add or remove elements from DOM (*ngFor, ngIf, ngSwitch)-->
    <!-- ATTRIBUTE directives modify the appearance or behavior of DOM elements 
        but cannot add or remove element from the DOM -->
    <tr *ngFor="let room of roomList; let e = even; let o = odd; let i = index">
      <td>{{ e ? "Even" : "Odd" }}</td>
      <td>{{ i }}</td>
      <td>{{ room.roomNumber.toString().padStart(6, "-").padEnd(11, "-") }}</td>
      <td>{{ room.roomType }}</td>
      <td>{{ room.price }}</td>
      <td>{{ room.amenities }}</td>
      <td>{{ room.checkinTime }}</td>
      <td>{{ room.checkoutTime }}</td>
    </tr>
  </table>
</div>

<!-- EVENT BINDING -->
<!-- (click) banana syntax -->
<button (click)="toggle()">Toggle</button>
