<hinv-rooms></hinv-rooms>
<div #name>
  
</div>
<!-- <div [ngSwitch]="loginType">
  <div *ngSwitchCase="'User'">Welcome User</div>
  <div *ngSwitchCase="'Admin'">
    <hinv-rooms></hinv-rooms>
  </div>
  <div *ngSwitchDefault>Unauthorized!</div>
</div> -->

<!-- Render DYNAMICALLY RoomsComponent using viewChild-->
<!-- <div>
  ng-template doesnt render anything itself, but helps us render another template/component 
  #user is known as a TEMPLATE REFERENCE
  <h1>Welcome User!</h1>
</div> -->